<h1>Flexible Payment</h1>

<p> A <%= @yrs %> year loan of <%=number_to_currency( @principle) %>, with an annual interest rate of <%= sprintf('%.2f', @int_rt_div)+ '%'%> requires a monthly payment of <%= number_to_currency( ((@int_rt_adj*@principle)/(1-((1+@int_rt_adj)**(-@yrs_adj)))).round(2))%>.</p>
